{
	"presets": [
		"es2015",
		"stage-0"
	],
	"plugins": [
		[
			"import",
			[
				{
					"libraryName": "mov",
					"libraryDirectory": "libsrc",
					"style": true
				}
			]
		],
		"transform-object-assign"
	]
}

