.home-demo {
  padding: 0 15px;
  background: #fff;
  max-width: 1200px;
  margin: 0 auto;
}
.home-demo .demo-item {
  padding: 10px 0;
}
.home-demo .demo-item .name {
  font-size: 16px;
  color: #333;
}
.home-demo .demo-item .desc {
  font-size: 12px;
  color: #999;
}
.home-demo .demo-item + .demo-item {
  border-top: #eee solid 1px;
}
.loading-item {
  background: #fff;
  margin-top: 50px;
  width: 200px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.toast-item {
  background: #fff;
  margin-top: 50px;
  width: 200px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.carousel-pannel {
  height: auto;
}
.carousel-pannel-1 {
  height: 200px;
  margin-top: 50px;
}
.carousel-pannel-1 .pannel {
  font-size: 18px;
  border: 1px solid red;
}
.carousel-pannel-1 .pannel .option {
  border: 1px solid  #999;
  padding: 6px 20px;
}
.group {
  margin-bottom: 30px;
  background: #fff;
}
.group .item {
  border: 1px solid #eee;
  height: 30px;
}
html,
body,
#views {
  height: 100%;
}
.popup-item {
  background: #fff;
  margin-top: 50px;
  width: 200px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.picker-select {
  border-bottom: 1px solid #eee;
  background: #fff;
}
.picker-select .key,
.picker-select .value {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.picker-select .key {
  color: #333;
}
.picker-select {
  border-bottom: 1px solid #eee;
  background: #fff;
}
.picker-select .key,
.picker-select .value {
  font-size: 14px;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
}
.picker-select .key {
  color: #333;
}
.list-view-group {
  margin-top: 10px;
  padding: 0 15px;
  background: #fff;
}
.list-view-group .list-view-item + .list-view-item {
  border-top: solid #d5d5d5 1px;
}
.list-view-item {
  height: 60px;
}
.list-view-item .avatar {
  background: url(http://s17.mogucdn.com/b7/pic/151119/nihao_ie4wgobqgqywgndggqzdambqgqyde_100x100.png_100x100.png) no-repeat center;
  background-size: 100%;
  height: 45px;
  width: 45px;
}
.list-view-item .info {
  padding-left: 60px;
}
.modal-item {
  background: #fff;
  margin-top: 50px;
  width: 250px;
  font-size: 16px;
  height: 40px;
  border-radius: 4px;
  border: 1px solid #eee;
}
.content-cls {
  background: red;
}
.tabs-pannel {
  height: 0vh;
}
.tabs-pannel .item {
  background-color: #fff;
}
body,
dd,
dl,
dt,
form,
h1,
h2,
h3,
h4,
h5,
h6,
html,
input,
label,
li,
ol,
p,
textarea,
ul {
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
}
article,
aside,
details,
footer,
header,
nav,
section {
  display: block;
}
em,
i {
  font-style: normal;
}
img {
  border: none;
  vertical-align: middle;
}
ol,
ul {
  list-style: none;
}
input[type=checkbox],
input[type=email],
input[type=number],
input[type=password],
input[type=radio],
input[type=search],
input[type=tel],
input[type=text] {
  vertical-align: middle;
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
  -webkit-user-select: text;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #999;
}
select,
textarea {
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
}
textarea {
  -webkit-user-select: text;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  -webkit-user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  font: 400 14px/1.5 Arial, sans-serif;
  background-color: #f6f6f6;
  overflow-x: hidden;
  -webkit-text-size-adjust: none;
  font-size: 14px;
}
a,
body {
  color: #5e5e5e;
}
a {
  text-decoration: none;
}
[data-dpr="2"] body {
  font-size: 28px;
}
[data-dpr="3"] body {
  font-size: 42px;
}
html,
body,
#views {
  width: 100%;
  height: 100%;
}
/* carousel */
/* date-picker */
/* date-picker-range */
/* list-view */
/* loading */
/* modal */
/* modal-select */
/* picker-select */
/* popup */
/* tabs */
/* toast */
.mov-loading .mov-loading-con {
  width: 90px;
  height: 90px;
  background: url('https://s10.mogucdn.com/p2/170228/116560387_5c7fa526b9e23a4g8efgc8db3g2bi_200x200.png') 50% no-repeat;
  background-size: 100%;
}
.mov-loading .mov-loading-con:after {
  content: "";
  display: block;
  height: 100%;
  background: url('https://s10.mogucdn.com/p2/170228/116560387_5e6e30e3ld0blkjijkj196eeh0b3b_200x200.png') 50% no-repeat;
  background-size: 100%;
  -webkit-animation: mov-loading 1.05s infinite;
          animation: mov-loading 1.05s infinite;
}
@keyframes mov-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@-webkit-keyframes mov-loading {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
.mov-toast {
  z-index: 499;
}
.mov-toast .mov-toast-content {
  border-radius: 5px;
  padding: 12px 15px;
  background: rgba(0, 0, 0, .7);
  text-align: center;
  font-size: 14px;
  z-index: 500;
  color: #fff;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
.mov-toast .mov-toast-content.success,
.mov-toast .mov-toast-content.error {
  min-width: 120px;
  /* no2rem */
}
.mov-toast .mov-toast-icon .success-img,
.mov-toast .mov-toast-icon .error-img {
  width: 40px;
  height: 40px;
  background-size: cover;
  margin: 3px auto 10px;
}
.mov-toast .mov-toast-icon .success-img {
  background-image: url('https://s10.mogucdn.com/mlcdn/c45406/180205_89ff4d45g31c7a4cfk8j727b6adli_200x200.png_100x100.png');
}
.mov-toast .mov-toast-icon .error-img {
  background-image: url('https://s10.mogucdn.com/mlcdn/c45406/180205_86g9c5249kljeljlbaki70g0i78ji_200x200.png_100x100.png');
}
.mov-carousel-dots {
  bottom: 5px;
  left: 15px;
  width: auto;
}
.mov-carousel-dots .item {
  width: 8px;
  height: 8px;
  margin-right: 5px;
  border-radius: 50%;
  background-color: #fff;
}
.mov-carousel-dots .item.active {
  background-color: #ff5777;
}
.mov-carousel-transition {
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}
.mov-hammer {
  -ms-touch-action: auto;
      touch-action: auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-user-drag: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.mov-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.mov-row-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.mov-row-start {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.mov-row-end {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.mov-row-space-between {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.mov-row-space-around {
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
.mov-row-align-flex-start {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.mov-row-align-flex-end {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.mov-row-align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.mov-row-align-baseline {
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}
.mov-row-align-stretch {
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}
.mov-row-direction-column {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.mov-col-24 {
  width: 100%;
}
.mov-col-23 {
  width: 95.83333333%;
}
.mov-col-22 {
  width: 91.66666667%;
}
.mov-col-21 {
  width: 87.5%;
}
.mov-col-20 {
  width: 83.33333333%;
}
.mov-col-19 {
  width: 79.16666667%;
}
.mov-col-18 {
  width: 75%;
}
.mov-col-17 {
  width: 70.83333333%;
}
.mov-col-16 {
  width: 66.66666667%;
}
.mov-col-15 {
  width: 62.5%;
}
.mov-col-14 {
  width: 58.33333333%;
}
.mov-col-13 {
  width: 54.16666667%;
}
.mov-col-12 {
  width: 50%;
}
.mov-col-11 {
  width: 45.83333333%;
}
.mov-col-10 {
  width: 41.66666667%;
}
.mov-col-9 {
  width: 37.5%;
}
.mov-col-8 {
  width: 33.33333333%;
}
.mov-col-7 {
  width: 29.16666667%;
}
.mov-col-6 {
  width: 25%;
}
.mov-col-5 {
  width: 20.83333333%;
}
.mov-col-4 {
  width: 16.66666667%;
}
.mov-col-3 {
  width: 12.5%;
}
.mov-col-2 {
  width: 8.33333333%;
}
.mov-col-1 {
  width: 4.16666667%;
}
.mov-popup {
  z-index: 300;
}
.mov-popup .mov-popup-mask {
  background-color: rgba(0, 0, 0, .7);
  opacity: 0;
}
.mov-popup .mov-popup-con {
  background-color: #fff;
  z-index: 10;
}
.mov-popup.bottom .mov-popup-con {
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
}
.mov-popup.top .mov-popup-con {
  top: 0;
  left: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
}
.mov-popup.right .mov-popup-con {
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
}
.mov-popup.have-animate .mov-popup-con,
.mov-popup.have-animate .mov-popup-mask {
  -webkit-transition: all 400ms ease 0s;
  transition: all 400ms ease 0s;
}
.mov-popup.show-content .mov-popup-con {
  opacity: 1;
  -webkit-transform: none;
          transform: none;
}
.mov-popup.show-content .mov-popup-mask {
  opacity: 1;
}
.mov-picker-view {
  position: relative;
  height: 100%;
  overflow: hidden;
}
.mov-picker-view .mov-picker-view-mask {
  position: absolute;
  z-index: 10;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .6))), -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, .95)), to(rgba(255, 255, 255, .6)));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, .95), rgba(255, 255, 255, .6)), linear-gradient(to top, rgba(255, 255, 255, .95), rgba(255, 255, 255, .6));
  background-position: top, bottom;
  background-repeat: no-repeat;
}
.mov-picker-view .mov-picker-view-wrap {
  width: 100%;
  height: 34px;
  text-align: center;
  position: relative;
}
.mov-picker-view .mov-picker-view-item {
  font-size: 14px;
  height: 34px;
  line-height: 34px;
}
.mov-picker-view .mov-picker-view-transition {
  -webkit-transition: -webkit-transform 0.4s ease-out;
  transition: -webkit-transform 0.4s ease-out;
  transition: transform 0.4s ease-out;
  transition: transform 0.4s ease-out, -webkit-transform 0.4s ease-out;
}
.mov-date-picker .mov-date-picker-header {
  border-bottom: 1px solid #ececec;
  /* no2rem */
}
.mov-date-picker .mov-date-picker-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #ff5777;
}
.mov-date-picker .mov-date-picker-con {
  padding: 0 10px;
  height: 280px;
  font-size: 14px;
}
.mov-date-picker-range .mov-date-picker-range-header {
  border-bottom: 1px solid #ececec;
}
.mov-date-picker-range .mov-date-picker-range-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #ff5777;
}
.mov-date-picker-range .mov-date-picker-range-con {
  padding: 0 10px;
  height: 280px;
  font-size: 14px;
  font-style: normal;
}
.mov-date-picker-range .mov-date-picker-range-con .year {
  width: 60px;
}
.mov-date-picker-range .mov-date-to {
  width: 10px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}
.mov-scroll .pull-refresh {
  font-size: 13px;
  position: relative;
  left: 0;
  top: 0;
}
.mov-scroll .pull-refresh-icon {
  width: 65px;
  height: 15px;
  background: url(https://s10.mogucdn.com/mlcdn/c45406/180529_52b9f3gkk7k0b97ib2j095d74al3l_6500x30.png) 0 0 no-repeat;
  /* no2rem */
  background-size: 5000% 100%;
}
.mov-scroll .pull-refresh-icon.animate {
  -webkit-animation: movListViewGif steps(49) 2s infinite both;
          animation: movListViewGif steps(49) 2s infinite both;
}
.mov-scroll.refresh .mov-scroll-inner,
.mov-scroll.down .mov-scroll-inner {
  -webkit-transition-duration: 600ms;
          transition-duration: 600ms;
}
.mov-scroll.touch .mov-scroll-inner {
  -webkit-transition: none;
  transition: none;
}
.mov-scroll .load-more {
  padding: 12px;
}
.mov-scroll .load-more-icon {
  background: url("https://s10.mogucdn.com/mlcdn/c45406/180517_7le6117ia10b6eg8chd1hdike7gec_200x200.png_50x50.png") no-repeat center;
  height: 25px;
  width: 25px;
  background-size: cover;
  -webkit-animation: rotation 1.5s infinite linear;
          animation: rotation 1.5s infinite linear;
}
@keyframes movListViewGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
@-webkit-keyframes movListViewGif {
  from {
    background-position: 0%;
  }
  to {
    background-position: 100%;
  }
}
@keyframes rotation {
  from {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
@-webkit-keyframes rotation {
  from {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
    -webkit-transform: rotate(1turn);
            transform: rotate(1turn);
  }
}
.mov-modal {
  z-index: 400;
}
.mov-modal.mask {
  background: rgba(0, 0, 0, .7);
}
.mov-modal .mov-modal-content {
  border-radius: 5px;
  padding: 15px 0 0 0;
  text-align: center;
  width: 270px;
  margin-top: -100px;
  background-color: #fff;
}
.mov-modal .mov-modal-content .mov-modal-content-header {
  padding: 0 20px;
  font-size: 18px;
  color: #333;
  margin-bottom: 10px;
  margin-top: 10px;
}
.mov-modal .mov-modal-content .mov-modal-content-content {
  padding: 0 20px 15px;
  font-size: 15px;
  line-height: 1.33;
  color: #888;
  border-bottom: 1px solid #ececec;
}
.mov-modal .mov-modal-content .mov-modal-content-content.no-title {
  color: #666;
  padding-top: 10px;
}
.mov-modal .mov-modal-content .mov-modal-content-footer {
  height: 45px;
  font-size: 16px;
}
.mov-modal .mov-modal-content .mov-modal-content-footer .cancel {
  color: #666;
  border-right: 1px solid #ececec;
}
.mov-modal .mov-modal-content .mov-modal-content-footer .confirm {
  color: #ff5777;
}
@media screen and (max-width: 320px) {
  .mov-modal .mov-modal-content {
    width: 240px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-header {
    font-size: 16px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-content {
    font-size: 14px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-footer {
    height: 40px;
    font-size: 14px;
  }
}
@media screen and (min-width: 414px) {
  .mov-modal .mov-modal-content {
    width: 300px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-content {
    padding: 0 20px 18px;
    font-size: 16px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-content.no-title {
    padding-top: 15px;
  }
  .mov-modal .mov-modal-content .mov-modal-content-footer {
    height: 50px;
    font-size: 17px;
  }
}
.mov-modal-select .mov-modal-select-header {
  border-bottom: 1px solid #ececec;
}
.mov-modal-select .mov-modal-select-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 16px;
  color: #ff5777;
}
.mov-modal-select .mov-modal-select-con {
  max-height: 280px;
  min-height: 200px;
}
.mov-modal-select .mov-modal-select-item {
  height: 48px;
  font-size: 15px;
  padding: 0 40px 0 20px;
  color: #333;
  line-height: 1;
}
.mov-modal-select .mov-modal-select-item.selected {
  background-color: #ffeeed;
}
.mov-modal-select .mov-modal-select-item.selected:after {
  content: '';
  display: block;
  background: url('https://s10.mogucdn.com/mlcdn/c45406/180531_1446j5l280i4cl48h6abh954e6g9l_31x23.png') center no-repeat;
  width: 16px;
  height: 12px;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 20px;
  background-size: cover;
}
.mov-picker-select .mov-picker-select-header {
  border-bottom: 1px solid #ececec;
}
.mov-picker-select .mov-picker-select-header .item {
  font-size: 16px;
  height: 45px;
  padding: 0 20px;
  color: #ff5777;
}
.mov-picker-select .mov-picker-select-con {
  height: 280px;
}
.mov-tabs-header {
  border-bottom: 1px solid #ececec;
  background-color: #fff;
}
.mov-tabs-header .item {
  border-bottom: 2px solid transparent;
  font-size: 15px;
  height: 45px;
}
.mov-tabs-header .item.active {
  color: #ff5777;
}
.mov-tabs-header .index-mark {
  bottom: 0;
  left: 0;
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  padding: 0 20px;
}
.mov-tabs-header .index-mark:before {
  display: block;
  content: '';
  height: 2px;
  background-color: #ff5777;
}
.mov-swiper-transition {
  -webkit-transition: -webkit-transform 300ms ease-out;
  transition: -webkit-transform 300ms ease-out;
  transition: transform 300ms ease-out;
  transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
}
.mov-anim-common {
  will-change: transform;
  -webkit-animation: commonModalAnim 500ms;
          animation: commonModalAnim 500ms;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@keyframes commonModalAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
@-webkit-keyframes commonModalAnim {
  0% {
    opacity: 0;
    -webkit-transform: scale(0.6);
            transform: scale(0.6);
  }
  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  66% {
    opacity: 1;
    -webkit-transform: scale(0.9);
            transform: scale(0.9);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
            transform: none;
  }
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.c-po {
  cursor: pointer;
}
.va-tt {
  vertical-align: text-top;
}
.va-bl {
  vertical-align: baseline;
}
.va-s {
  vertical-align: sub;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wob-a {
  word-break: break-all;
}
.fw-200 {
  font-weight: 200;
}
.fw-500 {
  font-weight: 500;
}
.fw-bold {
  font-weight: bold;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-a-full,
.pos-f-full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flex-right-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-bottom-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 10px;
}
.flex-direction-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.o-a {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.o-h {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.h-m-full {
  min-height: 100%;
}
.h-full {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.h-none {
  height: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bg-white {
  background-color: #fff;
}
.r-circle {
  border-radius: 50%;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.hide {
  display: none;
}
.d-ib {
  display: inline-block;
}
.d-b {
  display: block;
}
.d-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
}
.c-po {
  cursor: pointer;
}
.va-tt {
  vertical-align: text-top;
}
.va-bl {
  vertical-align: baseline;
}
.va-s {
  vertical-align: sub;
}
.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.text-ellipsis-1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
.text-ellipsis-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.wob-a {
  word-break: break-all;
}
.fw-200 {
  font-weight: 200;
}
.fw-500 {
  font-weight: 500;
}
.fw-bold {
  font-weight: bold;
}
.font-smoothing {
  -webkit-font-smoothing: antialiased;
}
.text-white {
  color: #fff;
}
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.pos-r {
  position: relative;
}
.pos-a {
  position: absolute;
}
.pos-f {
  position: fixed;
}
.pos-a-full,
.pos-f-full {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.flex-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-center-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
      justify-content: center;
}
.flex-right-x {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-pack: flex-end;
  -ms-flex-pack: end;
      justify-content: flex-end;
}
.flex-center-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
      align-items: center;
}
.flex-bottom-y {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: -webkit-flex;
  -webkit-box-align: flex-end;
  -ms-flex-align: end;
      align-items: flex-end;
}
.flex-1 {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
      flex-grow: 1;
  width: 10px;
}
.flex-direction-y {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.block-center {
  margin-left: auto;
  margin-right: auto;
}
.o-a {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  overflow-scrolling: touch;
}
.o-h {
  overflow: hidden;
}
.w-full {
  width: 100%;
}
.h-m-full {
  min-height: 100%;
}
.h-full {
  height: 100%;
}
.full {
  width: 100%;
  height: 100%;
}
.h-none {
  height: 0;
}
.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.bg-white {
  background-color: #fff;
}
.r-circle {
  border-radius: 50%;
}
.z-index-2 {
  z-index: 2;
}
.z-index-3 {
  z-index: 3;
}
#appWrapper {
  background: #fff;
  height: 100%;
}
